#searchDiv{
			margin:0;
			pardding:10px;
			
			width:1002px;
		}
		#hang{
			width:120px;
			height:30px;
			float:left;
		}		
		#label{
			width:80px;
			height:30px;
			float:left;
		}	
		#tableDG{
			width:100%;
			height:90%;
		}