	*{
			margin:0;
			padding:0;
	}
	
	body{
		background:#99B1BF;
	}
	#container{
				width:100%;
				height:100%
		}
	#main{
			width:100%;
			height:90%;
	}
	#middleDiv{
			padding:3px;
			width:100%;
			height:30px;
	}
	.label{
			width:80px;
			float:left;
	}
	.hang{
			width:120px;
			float:left;
	}
	.blabel{
		width:40px;
		float:left;
		height:25px;
	}
	.bhang{
		width:60px;
		float:left;
		height:25px;
	}
	#searchDiv{
		width:100%;
		height:25px;
	}
	
	#tableSource{
		padding:0;
		width:100%;
		height:50%;
		
	}
	#tableTarget{
		padding:0;
		width:100%;
		height:49%;
	}
	
	#botto{
		width:78%;
		height:25px;
		float:left;
	}
	#bottons{
		width:20%;
		height:25px;
		float:left;
	}
	#bt1{
		margin:3px;
		padding:0;
		width:49%;
		float:left;
		height:20px;
		background:white;
	}
	#bt2{
		margin:3px;
		padding:0;
		width:49%;
		float:right;
		height:20px;
		background:white;
	}
	