	*{
			margin:0;
			padding:0;
	}
	
	body{
		background:#99B1BF;
		}
	#container{
				margin:auto;
				width:100%;
				height:100%;
		}
	.label{
		width:50px;
		float:left;
		height:25px;
	}
	.blabel{
		width:40px;
		float:left;
		height:25px;
	}
	.hang{
		width:120px;
		float:left;
	}
	
	.bhang{
		width:65px;
		float:left;
		height:25px;
	}
	.bbhang{
		width:50px;
		float:left;
		height:25px;
	}
	.sbbhang{
		width:40px;
		float:left;
		height:25px;
	}
	#searchDiv{
		margin:0;
		padding:2px;
		width:100%;
		height:30px;
	}
	
	#tableSource{
		padding:0;
		width:99%;
		height:45%;
	}
	#tableTarget{
		padding:0;
		width:99%;
		height:45%;
	}
	#tableTotal{
		width:98%;
		height:85%;
		
	}
	#main{
		width:100%;
		height:95%;
	}
	#right{
		width:28%;
		float:left;
		height:100%;
	}
	#left{
		width:71%;
		float:left;
		height:100%;
	}
	.bott{
		margin:1px;
		padding:5px;
		width:100%;
		height:30px;
	
	}
	.bt1{
		margin:1px;
		padding:2px;
		width:49%;
		float:left;
		height:28px;
		background:white;
	}
	.bt2{
		margin:1px;
		padding:2px;
		width:49%;
		float:left;
		height:28px;
		background:white;
	}
	.bt3{
		margin:5px;
		padding:2px;
		width:100%;
		float:left;
		height:28px;
		background:white;
	}
	p{
		color:red;
		font:bold 15px/30px arial,sans-serif;
	}